*,*::after,*::before{
    box-sizing: border-box;
}

body {
    background-color: #1B252F;
    font-family: 'Roboto', sans-serif;
    margin: 0 35px ;
}
header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 70px;

}
input, button {
    font-family: 'Roboto', sans-serif;
}
input {
    border: 1px solid  #EC631B;
    width: 250px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
}
::placeholder {
    color: #EC631B;
}
.email-container > button{
    margin-top: 17.5px;
}
.mindblowing-desktop > svg{
    display:none;
}
.mainBtn{
    background-color: #EC631B;
    border: none;
    color: #1B252F;
    width: 80px;
    height: 30px;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    transition-duration: 0.4s;
    cursor: pointer;
}
.decline{
    background-color: #1B252F;
    border: solid 1px #EC631B;
    color: #EC631B;
    width: 80px;
    height: 30px;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    transition-duration: 0.4s;
    cursor: pointer;

}
.mainBtn:hover{
    background-color: #CD5618;
}
.decline:hover{
    border: solid 1px #EEF4F5;
    color: #EEF4F5;
}
.mainBtn[disabled]{
    background-color: #8C3C12;
    cursor: not-allowed;
}
.decline[disabled]{
    border:1px solid #8C3C12;
    color: #8C3C12;
}
.email-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1, h2 {
    color: #EC631B;
    font-style: normal;
    font-weight: 500;
    font-size: 3.25rem;
    line-height: 1;
    letter-spacing: 0.05em;
    text-align: center;
    margin: 0;
}
h2 {
    font-size: 28px;
    line-height: 47px;
}
article{
    color: #EEF4F5;
    letter-spacing: 0.05em;
    font-size: 11px;
    color: #EEF4F5;
    letter-spacing: 0.05em;
    line-height: 25px;
    font-weight: 100;
    
}
.subscribe-text{
    margin-top: 35px;
}
section {
    margin-top: 35px;
}
.cards {
    background-color: #EEF4F5;
    text-align: center;
    width: 300px;
    line-height: 20px;
    letter-spacing: 0.05em;
    width: 275px;
    padding: 17.5px 17.5px 35px 17.5px;
}
.cards > ul {
    padding: 0;
    display: flex;
    margin: 0;
    justify-content: center;
}
h3{
    margin:0 0 5px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 18.75px;
    letter-spacing: 0.05em;
    margin-bottom: 17.5px;
        
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: #EC631B;
    text-decoration: none;
    margin-top: 17.5px;
}
a:hover{
    color: #CD5618;
    text-decoration: underline;
}
a:active{
    color: #EEF4F5;
    text-decoration: none;
}
footer{
    margin-top:70px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 10px;
}
footer > nav {
    display: flex;
    flex-direction: column;

}
footer a{
    font-weight: 700;
    font-size: 17px;
}
.desktop-footer-logo{
    display: none;
}
q,li{
    font-weight: 300;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0.05em;
}
.desktop-svg {
    display: none;
}
.cookies{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color:#EEF4F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

}
.cookies p {
    text-align: center;
    flex-grow: 1;
}
.menu{
    display: none;
}
@media screen and (min-width: 641px){
    body{
        background-color: #1B252F;
        margin: 0 70px;
    }
    h1{
        font-size: 84px;
    }
    section {
        margin-top: 70px;
    }
    article {
    font-size: 18px;
    letter-spacing: 0.05em;
    line-height: 30px;
    font-weight: 300;
    }
    .subscribe-text {
        margin-top: 35px;
    }
    .email-container > input {
        margin-right: 35px;
    }
    .email-container > button{
        margin-top: 0;
    }
    .email-container {
        flex-direction: row;
        justify-content: center;
    }
    .cards{
        width: 430px;
        padding: 35px;
    }
    q, li {
        font-weight: 100;
        font-size: 19px;
        margin-top: 12px;
        margin-bottom: 35px;
        line-height: 28px;
       }
       h3{
        font-size: 27px;
        margin-bottom: 17.5px;
       }   
    footer {
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        margin:70px 0;
    }
    footer > nav {
        display: flex;
        flex-direction: row;
    }
    footer a{
        font-size: 22px;
        margin: 0 17.5px;
        font-weight: 500;
    }
  .desktop-footer-logo{
    display: block;
    visibility: hidden;
  }
  h2{
    font-size: 48px;
  }
}
@media screen and (min-width:1025px){
    body {
        background-color: #1B252F;
    }
    .desktop-svg {
        display: block;
        margin-top: 185px;
    }
    h1, h2{
        text-align: left;
    }
    h2{
        font-size: 74px;
    }
    h1{
        font-size: 76px;
    }
    .subscribe-text{
        margin-top: 70px;
    }
    .welcome-article{
        margin-bottom: 200px;
    }
    main{
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 33%;
        justify-content: space-between;

    }
    section{
        flex: 0 1 33%;
    }
   q, li {
    font-weight: 100;
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 35px;
   }
   
   
   h3{
    font-size: 25px;
    margin-bottom: 17.5px;
   }
    .email-container{
        justify-content: flex-start;
    }
    .mindblowing-desktop{
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        align-self: flex-start;
    }
    .mindblowing-desktop  svg{
        margin:0 0 70px 0;
        display: block;
    } 
    .desktop-footer-logo{
        display: block;
        visibility:visible;
        margin:0;
    }
    .mobile-footer-logo{
        margin:0;
        visibility: hidden;
    }
    footer{
        justify-content: space-between;
        margin-bottom:70px;
    }
    footer a{
        font-size: 2rem;
        margin: 0 35px;
        font-weight: 700;
    }
    .menuLinks{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

    }
    
    .spans{
        height: 40px;
        width: 45px;
        position: relative;
    }
    span{
        width: 50px;
        height: 5px;
        border-radius: 10px;
        background-color: #EEF4F5;
        margin-bottom: 5px;
        position: absolute;
        display: block;
        cursor: pointer;
        
    }
    .span1{
        top: 0px;
    }
    .span2{
        top: 10px;
    }
    .span3{
        top: 20px;
    }
    .cookies{
        padding-right: 70px;
    }
    .menu{
        background-color: #EEF4F5;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 50%;
       display: none;
        
        justify-content: center;
        flex-direction: column;
        align-items: center;
        z-index: 1;
    }
    .menu a {
        font-size: 65px;
        margin: 0 35px;
        font-weight: 700;
        margin-top: 80px;
    }
    .menuBtn{
        position: fixed;
        top: 70px;
        right: 70px;
    }
    article {
        font-size: 19px;
        }
    #card2{
        display:flex;
        justify-content: flex-end;

    }    
}